<h1>Products#index</h1>
<<<<<<< HEAD
<%= cart.each do |product| %>
  <p> <%= product %> </p>
<% end %>

<%= form_tag('/products', action:"/product/add", method: "post") do %>
  <%= text_field_tag :product %>
  <%= submit_tag "add to cart" %>
<% end %>
=======
<p>Find me in app/views/products/index.html.erb</p>
>>>>>>> d1bc0effd73d1e56f79cd24a8cc13cfc305e06a0
